:root {
    --main-bg-color: #f8f9fa;
    --primary-color: #007bff;
    --secondary-color: #6c757d;
    --yellow-color: #ffc107;
    --footer-bg-color: #343a40;
    --footer-text-color: #ffffff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--main-bg-color);
    color: var(--secondary-color);
    line-height: 1.6;
}

header {
    background-color: var(--primary-color);
    color: white;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

header .menu {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 1rem;
}

header .menu li {
    margin: 0 1rem;
}

header .menu li a {
    color: white;
    text-decoration: none;
}

header .menu li a:hover {
    text-decoration: underline;
}

.intro {
    padding: 5rem 2rem;
    text-align: center;
    margin-top: 60px;
}

aside {
    position: fixed;
    top: 100px;
    left: 20px;
    width: 250px;
    z-index: 1000;
    background-color: #f1f1f1;
    padding: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow-y: auto;
}

aside h1 {
    color: #000000;
    text-align: center;
}

aside nav ul {
    list-style: none;
    padding: 0;
}

aside nav ul li {
    margin-bottom: 10px;
}

aside nav ul li a {
    display: block;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    color: var(--secondary-color);
    border: 2px solid #ccc;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

aside nav ul li a[href="#card1"],
aside nav ul li a[href="#card2"],
aside nav ul li a[href="#card3"] {
    background-color: #93ded6;
    border-color: #001eff;
}

aside nav ul li a:hover {
    opacity: 0.9;
}

.cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem 1rem;
}

.card {
    background-color: var(--yellow-color);
    padding: 2rem 1rem 1rem;
    margin: 1rem 0;
    width: 80%;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
}

.card-logo {
    position: absolute;
    top: -30px;
    left: 10px;
    width: 100px;
    height: auto;
}

.card h2 {
    margin-top: 40px;
}

.social-icons {
    position: fixed;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

.social-icons a {
    display: block;
    margin: 10px 0;
    color: var(--primary-color);
    font-size: 1.5rem;
}

.social-icons a.whatsapp {
    color: #25D366;
}

social-icons a:hover {
    color: var(--yellow-color);
}

footer {
    background-color: var(--footer-bg-color);
    color: var(--footer-text-color);
    display: flex;
    justify-content: space-around;
    padding: 2rem;
}

footer .footer-card {
    width: 25%;
}

footer .footer-card.special {
    background-color: var(--yellow-color);
    color: var(--footer-bg-color);
    padding: 1rem;
    border-radius: 8px;
    position: relative;
    top: -20px;
}

.video-container {
    margin-top: 20px;
    position: relative;
    padding-bottom: 56.25%; /* 16:9 aspect ratio */
    height: 0;
    overflow: hidden;
    background: #000;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Media Queries */
@media (max-width: 768px) {
    .cards .card,
    footer .footer-card {
        width: 80%;
        margin-bottom: 1rem;
    }

    footer {
        flex-direction: column;
        align-items: center;
    }

    aside {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        margin-bottom: 20px;
    }

    .video-container {
        width: 100%;
        margin-bottom: 20px;
    }

    .video-frame {
        width: 100%;
        height: auto;
    }

    .cards {
        flex-direction: column;
        align-items: stretch;
    }

    .card {
        width: 100%;
    }
}
.contact-info {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap; /* Esto permitirá que los elementos se ajusten a la pantalla */
    gap: 20px; /* Espaciado entre los elementos */
    padding: 20px;
}

.contact-info .info-item {
    text-align: center;
    flex-basis: 100%; /* Hace que cada elemento ocupe el 100% del ancho en pantallas pequeñas */
    max-width: 300px; /* Limita el ancho máximo de cada elemento en pantallas grandes */
    margin-bottom: 20px; /* Espacio inferior entre elementos */
}

.contact-info .info-item i {
    font-size: 2em;
    margin-bottom: 10px;
    color: #0909f7;
}

@media(max-width: 768px) {
    .contact-info {
        flex-direction: column; /* Cambia la dirección a columna en pantallas pequeñas */
        align-items: center;
    }

    .contact-info .info-item {
        flex-basis: 100%; /* Hace que cada elemento ocupe el 100% del ancho */
        margin-bottom: 10px; /* Aumenta el espacio inferior entre elementos */
    }
}

